<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/style.css" />
        <title>KVG_drive</title>
    </head>
    <body style="justify-content: center">
        <h1 class="title">KVG_drive</h1>
        <div class="welcome-text">
            <p>Welcome to KVG_drive</p>
            <p>Personal files storage app</p>
            <p>
                Upload, download and share your files with anyone by simple link
            </p>
        </div>
        <div class="links">
            <a class="sign-up-link" href="/sign-up">Register</a>
            <a class="log-in-link" href="/log-in">Log In</a>
        </div>
    </body>
</html>
